$navbar-inverse-bg: #ff6767;

@import "bootstrap";

.navbar-brand {
  padding: 15px 15px 15px 0px;
  color: white !important;
}

* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

body {
  padding-top: 10px;
  background-color: #eeeeee;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}
