<h3> This is the pages </h3>

<ul>
  {{#each model as |page|}}
  <li>{{page.body}}</li>
  {{/each}}
</ul>


{{input class="form-control" placeholder="title." rows="7" value=title}}
{{textarea class="form-control" placeholder="Your message." rows="7" value=body}}
<button  class="btn btn-primary btn-lg btn-block" {{action 'saveStuff'}}>Save Page</button>

